<div class="row" id="statics-attachment">
  {{#contents}}
    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <img src="{{img_standard_resolution}}">
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading">{{likes}}</p>
              <p class="announcement-text">Likes!</p>
            </div>
          </div>
        </div>
        <a href="" class="js-viewMore" data-id="{{id}}">
          <div class="panel-footer announcement-bottom">
            <div class="row">
              <div class="col-xs-6">View more</div>
              <div class="col-xs-6 text-right"><i class="fa fa-arrow-circle-right"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  {{/contents}}
</div>

