<img src="{{img_standard_resolution}}" alt="">

<div class="description">
  <p>{{caption}}</p>
  <p>Likes: {{likes}}</p>
  <p>Comments: {{comments}}</p>
</div>

<div class="author">
  <img src="{{user_icon}}" alt="" style="max-width:50px;">
  <p>{{user_name}}</p>
</div>

<a href="#" class="js-backButton"><- Go Back</a>
