nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
  /! Brand and toggle get grouped for better mobile display
  .navbar-header
    button.navbar-toggle data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button"
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand href="index.html"
  /! Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.side-nav
      li
        a href="#{server_side_index_path}"
          i.fa.fa-bar-chart-o
          | 100% Server Side
      li
        a href="#{client_side_index_path}"
          i.fa.fa-bar-chart-o
          | 100% Client Side
      li
        a href="#{hybrid_index_path}"
          i.fa.fa-bar-chart-o
          | Hybrid - Shared templates strategy
