.row
  - for content in contents
    .col-lg-3
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-6
              img src="#{content.img_standard_resolution}"
            .col-xs-6.text-right
              p.announcement-heading = content.likes
              p.announcement-text Likes!
        a href="#{server_side_path(content)}"
          .panel-footer.announcement-bottom
            .row
              .col-xs-6
                | View more
              .col-xs-6.text-right
                i.fa.fa-arrow-circle-right
