img src="#{content.img_standard_resolution}"
  .description
    p #{content.caption}
    p Likes: #{content.likes}
    p Comments: #{content.comments}
  .author
    img src="#{content.user_icon}" style="max-width:50px;"
      p #{content.user_name}
