doctype 5

html
  head
    title Base
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    = include_gon
    meta content="OMGHR3WTBbNpVVWOMK5Jxe2aGtB1r_v4R8LaB3psQS4" name="google-site-verification"
  body
    #wrapper
      = render 'shared/menu'
      #page-wrapper
        = yield

  = javascript_tag "firstLoad = true;"
  = javascript_include_tag "application"
